# PANDAS - DATA MANIPULATION

In [3]:
import pandas as pd
data = [1,2,3,4]
print(data)
series = pd.Series(data)
print(series)

[1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

# TO CHANGE THE INDEX NAME:

In [6]:
import pandas as pd
List = pd.Series([1,2,3,4],index=['a','b','c','d'])
List

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
List = pd.Series([1,2,3,4],index=[1,2,3,4])
List

1    1
2    2
3    3
4    4
dtype: int64

# CREATING DATA FRAME USING A LIST:

In [9]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

# CREATING DATA FRAME USING SERIES:

In [11]:
Series = pd.Series([4,5],index = ["a","b"])
print(Series)
type(Series)
df = pd.DataFrame(Series)
print(df)
type(df)

a    4
b    5
dtype: int64
   0
a  4
b  5

pandas.core.frame.DataFrame

# ..

In [14]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random. randint(0,10,(3,3)),columns = ['x1','x2','x2'])
print(df)

   x1  x2  x2
0   6   8   4
1   1   2   2
2   7   1   4

In [16]:
import numpy as np
import pandas as pd
array = np.array([[5000,6000],["John","James"]])
df = pd.DataFrame({"Name":array[1],"Salary":array[0]})
print(df)

    Name Salary
0   John   5000
1  James   6000

# CONCATINATION:

Concatination Along Rows(Axis 0)

In [20]:
Concatination Along Rows(Axis 0)
import pandas as pd
df1 = pd.DataFrame({'A':['A0','A1','A2',],
                   'B':['B0','B1','B2']})
print(df1)
df2 = pd.DataFrame({'A':['A3','A4','A5',],
                   'B':['B3','B4','B5']})
print(df2)
result = pd.concat([df1,df2])
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

Concatination Along Rows(Axis 1)

In [21]:
result = pd.concat([df1,df2],axis=1)
print(result)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [22]:
result = pd.concat([df1,df2],ignore_index=True)
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

# MERGE:

INNER MERGE:

In [24]:
df1 = pd.DataFrame({
    'Key':['A','B','C','D'],
    'Value':[1,2,3,4]
})
print(df1)
df2 = pd.DataFrame({
    'Key':['B','D','E','F'],
    'Value':[5,6,7,8]
})
print(df2)
result = pd.merge(df1,df2,on='Key',how='inner')
print(result)

  Key  Value
0   A      1
1   B      2
2   C      3
3   D      4
  Key  Value
0   B      5
1   D      6
2   E      7
3   F      8
  Key  Value_x  Value_y
0   B        2        5
1   D        4        6

RIGHT MERGE

In [28]:
df1 = pd.DataFrame({
    'Key':['A','B','C','D'],
    'Value':[1,2,3,4]
})
print(df1)
df2 = pd.DataFrame({
    'Key':['B','D','E','F'],
    'Value':[5,6,7,8]
})
print(df2)
result = pd.merge(df1,df2,on='Key',how='right')
print(result)

  Key  Value
0   A      1
1   B      2
2   C      3
3   D      4
  Key  Value
0   B      5
1   D      6
2   E      7
3   F      8
  Key  Value_x  Value_y
0   B      2.0        5
1   D      4.0        6
2   E      NaN        7
3   F      NaN        8

LEFT MERGE

In [29]:
df1 = pd.DataFrame({
    'Key':['A','B','C','D'],
    'Value':[1,2,3,4]
})
print(df1)
df2 = pd.DataFrame({
    'Key':['B','D','E','F'],
    'Value':[5,6,7,8]
})
print(df2)
result = pd.merge(df1,df2,on='Key',how='left')
print(result)

  Key  Value
0   A      1
1   B      2
2   C      3
3   D      4
  Key  Value
0   B      5
1   D      6
2   E      7
3   F      8
  Key  Value_x  Value_y
0   A        1      NaN
1   B        2      5.0
2   C        3      NaN
3   D        4      6.0

OUTER MERGE

In [30]:
df1 = pd.DataFrame({
    'Key':['A','B','C','D'],
    'Value':[1,2,3,4]
})
print(df1)
df2 = pd.DataFrame({
    'Key':['B','D','E','F'],
    'Value':[5,6,7,8]
})
print(df2)
result = pd.merge(df1,df2,on='Key',how='outer')
print(result)

  Key  Value
0   A      1
1   B      2
2   C      3
3   D      4
  Key  Value
0   B      5
1   D      6
2   E      7
3   F      8
  Key  Value_x  Value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0