In [2]:
import pandas as pd
cars = pd.read_csv(r"C:\Users\abira\Downloads\mtcars2.csv")
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [15]:
type(cars)

pandas.core.frame.DataFrame

In [16]:
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3

In [17]:
cars.head(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [18]:
cars.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [22]:
cars.shape

(44, 12)

In [23]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44 non-null     object
 1   mpg         44 non-null     float64
 2   cyl         44 non-null     int64
 3   disp        44 non-null     float64
 4   hp          44 non-null     int64
 5   drat        44 non-null     float64
 6   wt          44 non-null     float64
 7   qsec        44 non-null     float64
 8   vs          44 non-null     int64
 9   am          44 non-null     int64
 10  gear        44 non-null     int64
 11  carb        44 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.2+ KB

# AVERAGE VALUE:

In [25]:
mean_values = cars.mean(numeric_only = True)
print(mean_values)

mpg      19.722727
cyl       6.318182
disp    244.556818
hp      146.795455
drat      3.559773
wt        3.327750
qsec     17.750227
vs        0.409091
am        0.363636
gear      3.568182
carb      2.727273
dtype: float64

# MEDIAN VALUE:

In [27]:
median_value = cars.median (numeric_only = True)
print(median_value)

mpg      18.400
cyl       7.000
disp    266.900
hp      150.000
drat      3.580
wt        3.435
qsec     17.420
vs        0.000
am        0.000
gear      3.000
carb      2.000
dtype: float64

# STANDARD DEVIATION:

In [28]:
std_values = cars.std(numeric_only = True)
print(std_values)

mpg       6.780679
cyl       1.827092
disp    134.989997
hp       66.454244
drat      0.559657
wt        1.113763
qsec      1.535409
vs        0.497350
am        0.486607
gear      0.695424
carb      1.515250
dtype: float64

# MAXIMUM OF EACH ATTRIBUTES:

In [29]:
cars.max(numeric_only = True)
print(cars.max())

Unnamed: 0    Volvo 142E
mpg                 33.9
cyl                    8
disp               472.0
hp                   335
drat                4.93
wt                 5.424
qsec                22.9
vs                     1
am                     1
gear                   5
carb                   8
dtype: object

# MINIMUM OF EACH ATTRIBUTES

In [30]:
cars.min()

Unnamed: 0    AMC Javelin
mpg                  10.4
cyl                     4
disp                 71.1
hp                     52
drat                 2.76
wt                  1.513
qsec                 14.5
vs                      0
am                      0
gear                    3
carb                    1
dtype: object

# COUNT:

In [31]:
cars.count()

Unnamed: 0    44
mpg           44
cyl           44
disp          44
hp            44
drat          44
wt            44
qsec          44
vs            44
am            44
gear          44
carb          44
dtype: int64

# DESCRIBE:

In [32]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,19.722727,6.318182,244.556818,146.795455,3.559773,3.327750,17.750227,0.409091,0.363636,3.568182,2.727273
std,6.780679,1.827092,134.989997,66.454244,0.559657,1.113763,1.535409,0.497350,0.486607,0.695424,1.515250
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.200000,4.000000,120.250000,96.500000,3.077500,2.465000,17.020000,0.000000,0.000000,3.000000,2.000000
50%,18.400000,7.000000,266.900000,150.000000,3.580000,3.435000,17.420000,0.000000,0.000000,3.000000,2.000000
75%,22.800000,8.000000,350.250000,186.250000,3.920000,3.780000,18.520000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.000000

# CLEANING THE DATA:

RENAMING COLUMN:

In [40]:
cars = cars.rename(columns = {'Unnamed: 0':'model'})
print(cars)

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [41]:
cars = cars.rename(columns = {'wt':'weight'})
print(cars)

                  model   mpg  cyl   disp   hp  drat  weight   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90   2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90   2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85   2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08   3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15   3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76   3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21   3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69   3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92   3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92   3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92   3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07   4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07   3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76   3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73   3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08   3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08   1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43   2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77   1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22   3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62   2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54   3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11   2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

# TO FILL THE NULL VALUE WITH MEAN OF THE COLUMN:

In [43]:
cars.qsec = cars.qsec.fillna(cars.qsec.mean())
print(cars)

                  model   mpg  cyl   disp   hp  drat  weight   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90   2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90   2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85   2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08   3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15   3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76   3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21   3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69   3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92   3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92   3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92   3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07   4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07   3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76   3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73   3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08   3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08   1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43   2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77   1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22   3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62   2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54   3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11   2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

# TO DROP UNWANTED COLUMN (should execute only once):

In [44]:
cars = cars.drop(columns = ['S.No'])
cars

KeyError: "['S.No'] not found in axis"

# TO DROP UNWANTED ROW:

In [45]:
cars = cars.drop(index = 2)
cars

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

# TO VIEW PARTICULAR COLUMN ONLY IN THE CARS DATA SET:

In [3]:
print(cars.iloc[ : ,4])

0     110
1     110
2      93
3     110
4     180
5     175
6     105
7     245
8      62
9      95
10    123
11    123
12    180
13    205
14    180
15    180
16    150
17    205
18    215
19    230
20     66
21     52
22     65
23     97
24    150
25    150
26    150
27    245
28    175
29     66
30     91
31    113
32    264
33    175
34    335
35    109
36    150
37    205
38    215
39    230
40     66
41     52
42     65
43     97
Name: hp, dtype: int64

# TO VIEW FIRST FIVE RECORD OF HP COLUMN

In [8]:
cars.iloc[0:5,4]

0    110
1    110
2     93
3    110
4    180
Name: hp, dtype: int64

# TO VIEW ALL ROWS, ALL COLUMNS:

In [11]:
cars.iloc[0: , 0:]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

(OR)

In [12]:
cars.iloc[:,:]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

# TO VIEW ATTRIBUTE FROM  hp to carb SEE ALL THE RECORDS FROM INDEX 6:

In [13]:
cars.iloc[6: , 4:]

     hp  drat     wt   qsec  vs  am  gear  carb
6   105  2.76  3.460  17.02   1   0     3     1
7   245  3.21  3.570  15.84   0   0     3     4
8    62  3.69  3.190  20.00   1   0     4     2
9    95  3.92  3.150  22.90   1   0     4     2
10  123  3.92  3.440  18.30   1   0     4     4
11  123  3.92  3.440  18.90   1   0     4     4
12  180  3.07  4.070  17.40   0   0     3     3
13  205  2.93  5.250  17.98   0   0     3     4
14  180  3.07  3.730  17.60   0   0     3     3
15  180  3.07  3.780  18.00   0   0     3     3
16  150  3.15  3.435  17.30   0   0     3     2
17  205  2.93  5.250  17.98   0   0     3     4
18  215  3.00  5.424  17.82   0   0     3     4
19  230  3.23  5.345  17.42   0   0     3     4
20   66  4.08  2.200  17.42   1   1     4     1
21   52  4.93  1.615  18.52   1   1     4     2
22   65  4.22  1.835  19.90   1   1     4     1
23   97  3.70  2.465  20.01   1   0     3     1
24  150  3.15  3.435  17.30   0   0     3     2
25  150  2.76  3.520  16.87   0   0     3     2
26  150  3.15  3.435  17.30   0   0     3     2
27  245  3.73  3.840  15.41   0   0     3     4
28  175  3.08  3.845  17.05   0   0     3     2
29   66  4.08  1.935  17.05   1   1     4     1
30   91  4.43  2.140  16.70   0   1     5     2
31  113  3.77  1.513  16.90   1   1     5     2
32  264  4.22  3.170  14.50   0   1     5     4
33  175  3.62  2.770  15.50   0   1     5     6
34  335  3.54  3.570  14.60   0   1     5     8
35  109  4.11  2.780  18.60   1   1     4     2
36  150  3.15  3.435  17.30   0   0     3     2
37  205  2.93  5.250  17.98   0   0     3     4
38  215  3.00  5.424  17.82   0   0     3     4
39  230  3.23  5.345  17.42   0   0     3     4
40   66  4.08  2.200  17.42   1   1     4     1
41   52  4.93  1.615  18.52   1   1     4     2
42   65  4.22  1.835  19.90   1   1     4     1
43   97  3.70  2.465  20.01   1   0     3     1

# TO VIEW ATTRIBUTES FROM drat TO vs AND RECORD FROM 2ND INDEX TO 10TH INDEX:

In [14]:
cars.iloc[2:11,5:9]

    drat     wt   qsec  vs
2   3.85  2.320  18.61   1
3   3.08  3.215  19.44   1
4   3.07  3.780  18.00   0
5   3.15  3.440  17.02   0
6   2.76  3.460  17.02   1
7   3.21  3.570  15.84   0
8   3.69  3.190  20.00   1
9   3.92  3.150  22.90   1
10  3.92  3.440  18.30   1

# TO VIEW ALL THE ROWS AND ONLY THE FIRST COLUMN:

In [15]:
cars.iloc[:,0]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4             Merc 450SLC
5       Hornet Sportabout
6                 Valiant
7              Duster 360
8               Merc 240D
9                Merc 230
10               Merc 280
11              Merc 280C
12             Merc 450SE
13     Cadillac Fleetwood
14             Merc 450SL
15            Merc 450SLC
16            AMC Javelin
17     Cadillac Fleetwood
18    Lincoln Continental
19      Chrysler Imperial
20               Fiat 128
21            Honda Civic
22         Toyota Corolla
23          Toyota Corona
24            AMC Javelin
25       Dodge Challenger
26            AMC Javelin
27             Camaro Z28
28       Pontiac Firebird
29              Fiat X1-9
30          Porsche 914-2
31           Lotus Europa
32         Ford Pantera L
33           Ferrari Dino
34          Maserati Bora
35             Volvo 142E
36            AMC Javelin
37     Cadillac Fleetwood
38    Lincoln Continental
39      Chrysler Imperial
40               Fiat 128
41            Honda Civic
42         Toyota Corolla
43          Toyota Corona
Name: Unnamed: 0, dtype: object

# INDEXING BY LABEL:

# TO SEE ALL THE RECORDS OF MPG COLUMN:

In [17]:
cars.loc[:,"mpg"]

0     21.0
1     21.0
2     22.8
3     21.4
4     15.2
5     18.7
6     18.1
7     14.3
8     24.4
9     22.8
10    19.2
11    17.8
12    16.4
13    10.4
14    17.3
15    15.2
16    15.2
17    10.4
18    10.4
19    14.7
20    32.4
21    30.4
22    33.9
23    21.5
24    15.2
25    15.5
26    15.2
27    13.3
28    19.2
29    27.3
30    26.0
31    30.4
32    15.8
33    19.7
34    15.0
35    21.4
36    15.2
37    10.4
38    10.4
39    14.7
40    32.4
41    30.4
42    33.9
43    21.5
Name: mpg, dtype: float64

# TO SEE ALL THE RECORDS FROM INDEX 0 T0 INDEX 6 FROM mpg COLUMN:

In [18]:
cars.loc[0:6,"mpg"]

0    21.0
1    21.0
2    22.8
3    21.4
4    15.2
5    18.7
6    18.1
Name: mpg, dtype: float64

# TO VIEW THE FIRST 7 RECORDS FROM mpg to qsec COLUMN:

In [19]:
cars.loc[0:6,"mpg":"qsec"]

    mpg  cyl   disp   hp  drat     wt   qsec
0  21.0    6  160.0  110  3.90  2.620  16.46
1  21.0    6  160.0  110  3.90  2.875  17.02
2  22.8    4  108.0   93  3.85  2.320  18.61
3  21.4    6  258.0  110  3.08  3.215  19.44
4  15.2    8  275.8  180  3.07  3.780  18.00
5  18.7    8  360.0  175  3.15  3.440  17.02
6  18.1    6  225.0  105  2.76  3.460  17.02

# SORTING:

# SORTING cyl COLUMN BY ASCENDING ORDER

In [21]:
    cars.sort_values(by='cyl')

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4

# SORTING cyl IS DESCENDING ORDER:

In [23]:
 cars.sort_values(by='cyl',ascending = False)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

# SORT mpg COLUMN BY DESCENDING ORDER:

In [24]:
cars.sort_values(by = 'mpg',ascending = False)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

# TOP 5 MODELS THAT ARE HAVING MAXIMUM MILAGE:

# FILTERING:

# FILTER RECORDS WITH MORE THAT 6 CYLINDERS

In [25]:
cars['cyl']>=6

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29    False
30    False
31    False
32     True
33     True
34     True
35    False
36     True
37     True
38     True
39     True
40    False
41    False
42    False
43    False
Name: cyl, dtype: bool

# USING FILTER:

In [26]:
filter1 = cars['cyl']>6
filtered_new = cars[filter1]
filtered_new

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

# OR:

In [27]:
cars[(cars["cyl"]>6)&(cars["hp"]>300)]

       Unnamed: 0   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
34  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

# WRITE EXPRESSION TO GET FILTER RECORDS WITH MORE THAN 6cyl AND mpg GREATERBTHAN 20:

In [28]:
cars[(cars["cyl"]>6)&(cars["mpg"]>20)]

Empty DataFrame
Columns: [Unnamed: 0, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []