# CONDITIONAL STATEMENT:

# IF STATEMENT:

In [1]:
Tomato = 15
if(Tomato <= 10):
    print("Bring 1kg of Tomato")

In [2]:
Tomato = 15
if(Tomato <= 20):
    print("Bring 1kg of Tomato")

Bring 1kg of Tomato

In [3]:
a = 33
b = 200
if(a>b):
    print("a is greater than b" )

In [4]:
x = 9
if (x<10):
    print("Data Science")

Data Science

In [5]:
if True:
    print("Data Science")

Data Science

In [6]:
if 0:
    print("Data Science")

In [7]:
if 1:
    print("Data Science")

Data Science

In [8]:
x = 10
if (x%2==0):
    print("Data Science")

Data Science

In [9]:
x = 11
if (x//2==5):
    print("Data Science")

Data Science

In [10]:
x = int(input())
if not((x%2==0) and (x<10)):
    print("Data Science")

4

# IF ELSE STATEMENT

In [11]:
x = 3
if x>5:
    print("X is greater than 5")
else:
    print("X is not greater than 5")

X is not greater than 5

In [12]:
x = "Data Science"
if "dxt" in x:
    print("Data")
else:
    print("Science")

Science

In [13]:
x = "Data Science"
if "cie" not in x:
    print("Data")
else:
    print("Science")

Science

In [14]:
x = "Data Science"
if "cie" in x:
    print("Data")
else:
    print("Science")

Data

# IF ELIF STATEMENT

In [15]:
Tomato = int(input("Tomatoes cost per kg:\n"))
if Tomato<40:
    print("Bring 5kg of tomatoes")
elif Tomato <= 50:
    print("Bring 2kg of tomatoes")
else:
    print("Bring 1/2 of tomatoes")

Tomatoes cost per kg:
5
Bring 5kg of tomatoes

# NESTED IF STATEMENT:

In [16]:
age = int(input())
has_permission = True
if age >= 18:
    if has_permission:
        print("Allowed")
    else:
        print("Not Allowed")
else:
    if age>=13:
        print("Allowed with Guardian")
    else:
        print("you are not allowed")

5
you are not allowed

In [17]:
marks = int(input())
if marks<35:
    print("Fail")
elif marks<35 and marks<50:
    print("Grade C")
elif marks<50 and marks<75:
    print("Grade B")
elif marks<75 and marks<90:
    print("Grade A")
else:
    print("Grade A+")

7
Fail

In [18]:
a = int(input("Enter a value for a:\n"))
b = int(input("Enter a value for b:\n"))
if b>a :
    print("b is greater than a")
elif a==b:
    print("a is greater than b")

Enter a value for a:
6
Enter a value for b:
5

In [19]:
x = int(input("Enter a value for x:\n"))
if x>10:
    print("X is greater than 10")
    if x>20:
        print("X is also greater than 20")
    else:
        print("X is not greater than 20")
else:
    print("X is 10 or less")

Enter a value for x:
4
X is 10 or less

# FOR LOOP

In [20]:
for i in "Apple":
    print(i)

A
p
p
l
e

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
x = 10
for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,10,3):
    if i%2==0:
        print(i)

4

In [25]:
x = "data"
for i in range(0,len(x)):
    print(i+2)

2
3
4
5

In [26]:
a = "be a good girl"
count = 0
for i in a:
    if not(i.isalnum()):
        count = count+1
        print(count)

1
2
3

In [27]:
review = "Be a good girl"
count = 0 
for i in review:
    if i.isupper():
        count = count+1
print(count)

1

In [28]:
txt = "Welcome to the jungle"
X = txt.split()
print(x)

data

In [29]:
a = int(input("Enter num 1 :"))
b = int(input("Enter num 2 :"))
for i in range(a+1,b):
    print(i)

Enter num 1 :6
Enter num 2 :7

In [30]:
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

COUNT THE NUMBER OF ODD NUMBERS BETWEEN 1 TO 10

In [31]:
count = 0
for i in range(1,11):
    if(i%2==1):
        count = count+1
print(count)

5

COUNT THE NUM OF ODD AND EVEN NUMBER BETWEEN 1 TO 10 AND PRINT IT

In [32]:
even = 0
odd = 0
for i in range(1,11):
    if(i%2==0):
        even = even+1
    else:
        odd = odd+1
print("Even :",even)
print("Odd :",odd)

Even : 5
Odd : 5

COUNT THE NUMBER WHICH ARE DIVISIBLE BY 3 AND 5 RANGE 1-100

In [33]:
count = 0
for i in range(1,101):
    if(i%3==0 & i%5==0):
        count = count+1
print("count:",count)

count: 33

WRITE A PROGRAM TO COMPARE THE SUM OF THE FIRST  5 NATURAL NUMBER

In [34]:
sum = 0
for i in range(1, 6):
    sum = sum +i
print(sum)

15

WRITE A PROGRAM TO READ 10 NUMBER FROM THE KEYBOARD AND FIND THEIR SUM AND AVERAGE

In [35]:
a =[]
print("Enter 10 number :")
for i in range(10):
    num = int(input("Enter num "+str(i+1)))
    a.append(num)
print(a)
sum = 0
for i in a:
    sum = sum+1
print(num)
print(sum/10)

Enter 10 number :
Enter num 17
Enter num 27
Enter num 37
Enter num 47
Enter num 58
Enter num 69
Enter num 75
Enter num 83
Enter num 93
Enter num 102
[7, 7, 7, 7, 8, 9, 5, 3, 3, 2]
2
1.0

In [36]:
for number in range(10):
    if number%2 == 0:
        continue
    print(number)

1
3
5
7
9

In [37]:
for i in range(0,10):
    if(i>5):
        continue
        print(i,end=',')
    else:
        print(i, end=',')

0,1,2,3,4,5,

# WHILE LOOP

In [38]:
i = 0
while(i==0):
    print(i)
    i=i+1

0

In [1]:
i=0
while(i==0):
    print(i

SyntaxError: unexpected EOF while parsing (2775210389.py, line 3)

In [ ]:
i=0
while(True):
    print("True")

In [ ]:
i = 1
while(True):
    print("True")

In [ ]:
i = 1
while(i<5):
    print(i)
    i=i+1

WRITE A LOOP STATEMENT TO PRINT THE FOLLOWING SERIES 10 ,20,30,40,....200

In [ ]:
a = 10
while(a<=200):
    print(a, end=",")
    a = a + 10

WRITE A PROGRAM TO PRINT FIRST 10 NATURAL NUMBERS IN REVERSE ORDER

In [ ]:
a = 10
while(a>0):
    print(a)
    a=a-1

WRITE A PROGRAM TO PRINT THE FACTORIAL OF A NUMBER

In [ ]:
i = 3
fact = 1
while(i>0):
    fact = fact*i
    i=i+1
print(fact)